export const envs = {
    prod: {
        leancloud: {

        }
    },
    development: {
        leancloud: {
            AV_APP_ID: '',
            AV_SECRET: ''
        },
        qiniu: {
            AccessKey: '',
            SecretKey: ''
        }
    }
}
